.nheader-wrap{
  border-bottom: 1px solid #E5E5E5;
  color: #fff;
  padding: 20px 15px;
  background: #5F8DFB;
  .first-line{
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    .first-left{
      flex: 1;
      .img-icon{
        border-radius: 50%;
        width: 33px;
        height: 33px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        img{
          width: 33px;
          height: 33px;
        }
      }
      .account-message{
          height: 33px;
          line-height: 33px;
          display: inline-block;
          vertical-align: middle;
          font-family: NotoSansHans-Medium;
          font-size: 16px;
          color: #FFFFFF;
          div{
              height: 16px;
              line-height: 16px;
          }
          .address{
              margin-top: 5px;
              line-height: 12px;
              height: 12px;
              font-size: 12px;
          }
      }
      .left-text{
        display: inline-block;
        vertical-align: middle;
        font-family: NotoSansHans-Medium;
        font-size: 16px
      }
    }
    .first-right{
      flex:1;
      text-align: right;
      font-size: 16px;
    }
  }
  .sec-line{
    font-family: NotoSansHans-Regular;
    font-size: 12px;
  }
}