.line{
    margin-top: 50px;
}
.btn-list{
    margin-top: 60px;
    margin-bottom: 50px; 
    display: flex;
    .cancel{
        flex: auto;
    }
    .confrim{
        flex: 1;
    }
}

.transfer-info{
    margin-top: 35px;
    margin-bottom: 15px;
    .info-line{
        line-height: 44px;
        border-top: #E5E5E5 solid 1px;
        display: flex;
        justify-content: space-between;
        &.first{
            border: none;
        }
        .title{
            font-family: NotoSansHans-Regular;
            font-size: 14px;
            color: #B2B2B2;
            height: 44px;
            width: 50px;
        }
        .content{
            font-family: NotoSansHans-Regular;
            font-size: 14px;
            color: #333333;
            display: inline-block;
            height: 44px;
            display: inline-block;
            text-align: right;
            .double{            
                height: 22px;
                line-height: 22px;
            }
            .single{
                height: 44px;
                line-height: 44px;                
            }
            .address{
                font-family: NotoSansHans-Regular;
                font-size: 12px;
                color: #151515;
                text-align: right;
                line-height: 16px;
            }
        }
    }
}