.transactionlist{
    background: #f9f9f9;
    padding: 30px 15px 65px 15px;
    .nodata-wrapper{
        text-align: center;
        font-family: NotoSansHans-Regular;
        font-size: 12px;
        color: #B2B2B2;
        .nodata-img{
            width: 90px;
            height: 90px;
            margin:0 auto;
            margin-top: 77px;
            margin-bottom: 10px;
        }
    }
    .waitlist{
        .title{
            font-family: NotoSansHans-Medium;
            font-size: 14px;
            color: #333333;
        }
    }
    .history{
        padding-top: 30px;
        .title{
            font-family: NotoSansHans-Medium;
            font-size: 14px;
            color: #333333;
            margin-bottom: 10px;
        }
        .filter{
            .filter-select{
                display: inline-block;
            }
            .filter-checkbox{
                margin-top: 8px;
                float: right;
            }
        }
    }
}