.transactionlist{
    background: #f9f9f9;
    padding: 30px 15px 65px 15px;
    .waitlist{
        .title{
            font-family: NotoSansHans-Medium;
            font-size: 14px;
            color: #333333;
        }
        &.mbottom{
            margin-bottom: 30px;
        }
    }
    .history{        
        .title{
            font-family: NotoSansHans-Medium;
            font-size: 14px;
            color: #333333;
            margin-bottom: 10px;
        }
        .filter{
            .filter-select{
                display: inline-block;
            }
            .filter-checkbox{
                margin-top: 8px;
                float: right;
            }
        }
    }
}