.mywallet{
    width: 100%;

    .foot{
        position: fixed;
        z-index: 998;
        background: #FFFFFF;
        box-shadow: 0 -1px 4px 0 rgba(184,184,184,0.50);
        height: 60px;
        width: 375px;
    }

}