.mywallet{
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    .head{
        width: 100%;
        position: fixed;
        z-index: 8;
        top: 0px;
        background: #f9f9f9;
        .functionRow {
            margin: 30px 30px;
            .list {
                display: flex;
                .walletCode{
                    line-height: 30px;
                    width: 255px;
                    position: relative;
                    .headimg-wrapp{
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        border-radius: 50%;
                        vertical-align: middle;
                    }
                    .wallet-name{
                        margin-left: 15px;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .wallet-menu{
                        width: 200px;
                        background: #FFFFFF;
                        box-shadow: 0 2px 10px 0 rgba(185,185,185,0.50);
                        border-radius: 3px;
                        position: absolute;
                        top: 42px;
                        left: 0;
                        .menu-content{
                            .content-list{
                                .normal-menu{                                    
                                    border-bottom: 1px solid #e5e5e5;
                                    padding: 6px 0;
                                    .menu-span{
                                        display: block;
                                        font-size: 14px;
                                        line-height: 14px;
                                        color: #333;
                                        line-height: 40px;
                                        height: 40px;
                                        padding-left: 10px;
                                        &:hover{
                                            cursor: pointer;
                                            background: #eff3fe;
                                        }
                                    }
                                    &:last-child{
                                        border-bottom: none;
                                    }                                    
                                }
                                .wallet-list{
                                    .wallet-line{
                                        height: 40px;
                                        box-sizing: border-box;                                        
                                        line-height: 40px;
                                        padding-left: 10px;
                                        &:hover{
                                            cursor: pointer;
                                            background: #eff3fe;
                                        }
                                        .select-icon{
                                            width: 14px;
                                            height: 14px;
                                            margin-right: 10px;
                                            vertical-align: middle;
                                        }
                                        .wallet-image{
                                            display: inline-block;
                                            width: 20px;
                                            height: 20px;
                                            margin-right: 10px;
                                            vertical-align: text-bottom;
                                            border-radius: 50%;
                                            // border: 1px solid red;
                                        }
                                        .span-text{
                                            font-size: 14px;
                                            color: #333;
                                            vertical-align: middle;
                                        }
                                        .edit-icon{
                                            width: 24px;
                                            height: 24px;
                                            float: right;
                                            margin-right: 10px;
                                            margin-top: 8px;
                                        }
                                    }
                                }                                
                            }
                        }
                        .pao-wrapper {
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: -15px;
                            left: 5px;
                            margin-left: 0.05rem;
                            margin-top: 0;
                            clip: rect(0, 30px, 15px, 0);
                            .arrow {
                                width: 20px;
                                height: 20px;
                                transform: rotate(-45deg);
                                background: #fff;
                                box-shadow: 0px -2px 10px 0 rgba(185, 185, 185, 0.5);
                                margin-left: 0;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .function{
                    margin-right: 20px;
                }
            }
            .address {
                margin-top: 10px;
                font-family: NotoSansHans-Regular;
                font-size: 12px;
                color: #333333;
            }
        }        
    }
    .menu-wrapper{
        width: 100%;
        position: fixed;
        z-index: 7;
        top: 115px;
        .lablelist {
            background: #f9f9f9;
            border-bottom: 1px solid #E5E5E5;
            display: flex;
            .lable{
                flex: 1;
                height: 30px;
                text-align: center;
                span{
                    font-family: NotoSansHans-Medium;
                    font-size: 16px;
                    color: #B2B2B2;
                    text-align: center;
                }
                &:hover{
                    cursor: pointer;
                }
                &.active{
                    span{
                        color: #5F8DFB;
                        padding-bottom: 7px;
                        border-bottom: 3px solid #5F8DFB;
                    }
                }
            }
        }
        .single-lable{
            padding-left: 15px;
            background: #f9f9f9;
            border-bottom: 1px solid #E5E5E5;
            height: 30px;
            font-family: NotoSansHans-Medium;
            font-size: 16px;
            color: #5F8DFB;
            span{
                display: inline-block;
                color: #5F8DFB;
                padding-bottom: 7px;
                border-bottom: 3px solid #5F8DFB;
            }
        }
    }    
    .home-body{
        padding-top: 145px;
        margin-bottom: 60px;
    }
    .home-foot {
        position: fixed;
        z-index: 6;
        background: #FFFFFF;
        box-shadow: 0 -1px 4px 0 rgba(184,184,184,0.50);
        height: 60px;
        width: 375px;
        top: 540px;
        .content {
            margin: 15px;
            width: 260px;
        }
    }

}