.line{
    margin-top: 50px;
}
.line-checkbox{
    margin-top:61px;
}
.btn-list{
    margin-top: 60px;
    margin-bottom: 50px; 
    display: flex;
    .cancel{
        flex: auto;
    }
    .confrim{
        flex: 1;
    }
}