.label{
    background: #F0F0F0;
    border-radius: 5px 5px 0px 0px;
    width: 130px;
    height: 40px;
    font-family: NotoSansHans-Medium;
    font-size: 16px;
    color: #B2B2B2;
    text-align: center;
    line-height: 40px;
    &:hover{
        font-family: NotoSansHans-Medium;
        font-size: 16px;
        color: #CACACA;
    }
    &.active{
        background: #FFFFFF;
        box-shadow: 0 -2px 2px 0 rgba(66, 107, 205, 0.5);
        border-radius: 5px 5px 0px 0px;
        color: #5F8DFB;
    }
}